/* 
    Document   : styles
    Created on : Apr 21, 2013, 11:37:58 AM
    Author     : alex
    Description:
        Purpose of the stylesheet follows.
*/
*{
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

root { 
  display: block;

}

.hidden{
  display:none!important;
}

#header{
  display:none;
}
#main-menu{
  display:none;
}

.breadcrumb{
  display: none;
}

#footer{
  display: none;
}

#search-block-form{
  display:none;
}

#navigation ul.menu li a{
  text-decoration: none;
  padding: 5px;
  height: 25px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
}

#navigation ul.menu li a:hover{
  color: #CCCCCC;
}

#navigation ul.menu li{
  margin-right: 10px;
  background: #ff0b84;
  border-radius: 5px;
}
#navigation ul.menu li:hover{
  background: #ff58ab;
}

#navigation ul.menu li.active-trail{
  font-weight: bold;
}

.center{
  text-align:center;
  margin: 0 auto;
  display: block;
}

/*
 * Undo this to make the page responsive again
 */
#main{
  width: 720px!important;
  padding: 0;
}
#page{
  margin-left : 0px!important;
  width:720px!important;
}
#content{
  margin-top : 3em;
  padding-left:0px!important;
}
/*
 * End responsive hacks
 */
h2{
  margin: 0;
}
#main h1, .header{
  font-family: didot;
  font-size: 40px;
  text-align: center;
  width: 400px;
  display: block;
  margin: 5px auto;
}

.main-picture{
  margin: 0 auto;
  display:block;
}

#questions-vote-wrapper{
  margin: 0 auto;
  width: 600px;
}

.question-display{
  font-size: 12px;
  width: 33%;
  float: left;
  margin: 10px 0;
}

.question-display.left-float{

}
.question-display.right-float{

}
.question-display.float-center{

}

.form-type-radio label{
  margin-left: 5px;
}

#edit-submit, #edit-submit--2{
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  display:block;
  margin: 15px auto;
  color: #ffffff;
  background: #ff0b84;
  padding: 5px;
  width: 150px;
}


#edit-submit--2{
  width: 200px;
}


#questionnaire-results-wrapper{
  width: 400px;
  margin: 20px auto 0 auto;
  border: 1px solid #ff0b84;
  font-size: 12px;
  background: #000000;
  color: #ffffff;
}

.results-table{
  background: none;
  margin: 10px 10px;
  padding: 0;
}

.results-table tr{
  background: none;
  border: none;
  padding: 5px;
}

.results-table .bar{

  display: inline-block;
  width: 100px;
  height: 20px;
  background: #ffffff;
}
.results-table .bar-graph{
  background: #ff0b84;
  display:block;
  position: relative;
  height: 20px;
  border-left: 1px solid;
  border-color: white;
}

.results-table th p{
  text-algin:center;
  margin: 0;
  padding: 0;
}

.results-table .total-votes{
  font-variant: italics;
  font-size: 10px;
}
.stats-row{
  width: 300px;
}

.bar-row{
  margin-left: 20px;
}

#bt-questionnaire-edit-form{

}

#bt-questionnaire-edit-form .questionnaire-instructions{
  text-align: center;
  margin: 15px 0;
}

#bt-questionnaire-edit-form .question-wrapper{
  display:block;
  font-size: 12px;
  margin: 5px auto;
  width: 300px;
  
}

#bt-questionnaire-edit-form .question-wrapper .form-type-checkbox{
  display:block;
  margin: 0 auto;
}

#bt-questionnaire-edit-form .question-wrapper .form-type-checkbox input{
  margin-right: 5px;
  vertical-align: none;
}

a.user-link, a.user-link:active{
  text-decoration:none;
  color: #ff0b84;
}

a.user-link:hover{
  text-decoration: underline;
  font-weight:bold;
}

#bt-questionnaire-create-form{

}

#bt-questionnaire-create-form .questionnaire-instructions{
  margin: 12px 0;
  font-size: 12px;
  width: 600px;
}

#bt-questionnaire-create-form .question-wrapper{
  display:block;
  font-size: 12px;
  width: 300px;
  
}

#bt-questionnaire-create-form .question-wrapper .form-type-checkbox{
  display:block;
  margin: 0 auto;
}

#bt-questionnaire-create-form .question-wrapper .form-type-checkbox input{
  margin-right: 5px;
  vertical-align: none;
}

#bt-questionnaire-create-form ol li.ordered-element{
  font-family: Didot;
  font-size: 30px;
  margin: 10px 0;
}

#bt-questionnaire-create-form ul li{
  font-family: Helvetica;
  font-size: 12px;
  width: 600px;
  line-height: 18px;
}

#bt-questionnaire-create-form .submit-instructions{
  font-size:12px;
  margin: 12px 0;
  width: 600px;
}

#bt-questionnaire-create-form #edit-file{
  background: #CCCCCC;
  border-radius: 10px;
}

#user-register-form .form-text, #user-login .form-text{
  background: #CCCCCC;
  border-radius: 5px;
  height: 25px;
  width: 400px;
}

.signup-login-blocks, .signup-login-tabs{
  font-family: Helvetica;
  margin: 0
}

.signup-login-tabs{
  border-bottom: 2px solid black;
}

.signup-login-tabs div{
  float: left;
  margin-right: 10px;
  background: #ff0b84;
  color: white;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  padding: 5px;
  width: 60px;
  text-align: center;
  height: 20px;
  border: 2px solid black;
  border-bottom: none;
}

.signup-login-tabs div:hover{
  background: #ff58ab;
  color: #CCCCCC;
  cursor: pointer;
  position:relative;
  top: 2px;
  border-bottom: none;
}

.signup-login-tabs div.active{
  font-weight: bold;
  position:relative;
  top: 2px;
  border-bottom: none;
}

#social-links{
  float: left;
}
#social-links ul{
margin: 0;  
}

#social-links ul li{
  display: inline;  
}
#view-more{
  float:right;
}
#view-more .view-more-questions{
  margin: 0;
  margin-top: 10px;
}

#view-more .view-more img{
  margin: 0 auto;
  display: block;
}

#bt-questionnaire-delete-form{
  padding: 5px;
  width: 300px;
  margin: 5px auto;
  border: 2px solid black;
}
#bt-questionnaire-delete-form div{
  font-size: 14px;
  text-align: center;
}


#bt-questionnaire-delete-form #edit-submit{
  display: block;
  margin: 5px auto;
}

.arrow-n,
.arrow-e,
.arrow-s,
.arrow-w {
  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 10px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

.arrow-n {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: #ff0b84;
  bottom: 0.25em;
}

.arrow-e {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #ff0b84;
  left: 0.25em;
}
                    
.arrow-s {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #ff0b84;
  top: 0.25em;
}

.arrow-w {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #ff0b84;
  right: 0.25em;
}

#pager{width:600px;margin:auto;}
#pager a{font-size:16px;}
#pager .arrow{position:relative;top:-2px;}
#pager .older{float:right;}
#pager .older a{color:#ff0b84;margin-right:6px;}
#pager .newer{float:left;}
#pager .newer a{color:#ff0b84;margin-left:6px;}

#q-list-wrapper #first-impression-list{
  list-style-type: none;
  padding-left:0px!important;
}
#q-list-wrapper .q-list-item{
  width : 340px;
  height : 340px;
  float : left;
  margin : 5px 5px;
  border : 1px solid #ff0b84;
  background-color : #ddd;
}
#q-list-wrapper .q-list-item.dark{
  background-color : #FFC2DA
}
#q-list-wrapper .q-list-item img{
  display:block;
  margin:auto;
  margin-top : 20px;
}
#q-list-wrapper .q-list-item .image-item{
  margin-bottom : 10px;
}
#q-list-wrapper .q-list-item a{
  display : block;
  width : 100%;
  height : 100%;
  text-decoration : none !important;
}
#q-list-wrapper .meta{
  margin:auto;
  color : black !important;
  display : block;
  width:50%;
  font-size : 12px;
  text-align : center;
  font-family : didot;
}


#user-login-logout{float:right;}
